/**
 * @section Typography
 * Sets font styles for entire site
 */

html {
	font-size: $font-size;
	scroll-behavior: smooth;
}

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-primary;
	font-size: 1rem;
	line-height: 1.5;

	@media (min-width: $bp-medium) {
		line-height: 1.5625;
	}
}


/**
 * Hyperlink styling
 */

a {
	color: $color-primary;
	text-decoration-skip-ink: auto;
	word-wrap: break-word;

	&:active,
	&:focus,
	&:hover {
		color: darken($color-primary, 15%);
	}
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
%list-style-none {
	list-style: none;
	margin-left: 0;

	& > li::before {
		content: "\200B"; /* 1 */
		position: absolute; /* 2 */
	}
}

/**
 * Display lists on a single line.
 */

.list-inline {
	@extend %list-style-none;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	padding: 0;

	& > li {
		display: inline-block;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}


/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 1rem;
	padding: 1rem 0 0;
	word-wrap: break-word;
}

h1,
.h1 {
	font-size: 1.5rem;
	padding-top: .5rem;

	@media (min-width: $bp-medium) {
		font-size: 1.75rem;
	}
}

h2,
.h2 {
	font-size: 1.3125rem;
}

h3,
.h3 {
	font-size: 1.1875rem;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 1rem;
}

h4,
.h4 {
	font-size: 0.8125rem;
	text-transform: uppercase;
}


/**
 * Lines, Quotes and Emphasis
 */

/**
 * Lines
 */
hr {
	border: 0;
	border-top: 1px solid $color-gray-light;
	margin: 2rem auto;
}

/**
 * Use a lighter yellow for better readability
 */
mark {
	background: #fbf9c9;
	color: $color-black;
}


/**
 * Blockquotes
 */

blockquote {
	font-size: 1.1875rem;
	font-style: italic;
	margin: 0 0 $spacing;
	padding-left: 0.8125rem;
	padding-right: 0.8125rem;
}

cite {
	color: $color-gray-dark;
	display: block;
	font-size: 0.8125rem;
	padding-top: 1rem;
}
